.square {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #79e5cb;
}

.diamond {
  font-size: 24px;
}

.clicked {
  background-color: #f0f0f0;
  cursor: default;
}